@page "/Blogs"

@inject BlogService BlogService
@inject NavigationManager NavManager

<h3>Blogs</h3>

@if (Blogs is Object)
{
    foreach (var blog in Blogs)
    {
        <div @onclick="@(() => NavManager.NavigateTo($"blog/{blog.Slug}"))">
            <div><img src="@blog.ImageUrl"style="width:100%;"/></div>
            <h2>@blog.Title</h2>
            <div>@blog.Abstract</div>
        </div>
    }
}
else
{
    <p>Loading ...</p>
}


@code {
    public IEnumerable<Blog> Blogs = null;

    protected override async Task OnInitializedAsync()
    {
        Blogs = await BlogService.GetAll();
    }
}